<center><h1>Editing Document Label</h1></center>
<%= link_to 'Show Document Label', @doc_label %> |
<%= link_to 'Back to List', doc_labels_path %>
<br />

<%= render :partial => "form" %>

<%= link_to 'Show Document Label', @doc_label %> |
<%= link_to 'Back to List', doc_labels_path %>
<br />
<br />