<h1>Editing Documentation Item</h1>
<%= link_to 'Show Document', @doc_item %> |
<%= link_to 'Back to List (without saving changes)', doc_items_path %>
<br />

<%= render :partial => "form" %>

<%= link_to 'Show Document', @doc_item %> |
<%= link_to 'Back to List (without saving changes)', doc_items_path %>
<br />
<br />