<center><h1>Editing Document Location</h1></center>
<%= link_to 'Show Document Location', @doc_location %> |
<%= link_to 'Back to List', doc_locations_path %>
<br />

<%= render :partial => "form" %>

<%= link_to 'Show Document Location', @doc_location %> |
<%= link_to 'Back to List', doc_locations_path %>
<br />
<br />