<%= link_to 'Edit Document Location', edit_doc_location_path(@doc_location) %> |
<%= link_to 'Create New Document Location', new_doc_location_path %> |
<%= link_to 'Back to List', doc_locations_path %>
<br />

<p>
  <b>Code:</b>
  <%= @doc_location.code %>
</p>

<p>
  <b>Display location:</b>
  <%= @doc_location.display_location %>
</p>

<p>
  <b>Display text:</b>
  <%= @doc_location.display_text %>
</p>


<%= link_to 'Edit Document Location', edit_doc_location_path(@doc_location) %> |
<%= link_to 'Create New Document Location', new_doc_location_path %> |
<%= link_to 'Back to List', doc_locations_path %>
<br />
<br />